@if (cargando()) {

  <p>
    {{ textos.cargando }}
  </p>

} @else if (error()) {

  <p>
    {{ error() }}
  </p>

} @else if (centros().length === 0) {

  <p>
    {{ textos.vacio }}
  </p>

} @else {

  @for (centro of centros(); track centro.id) {

    <div>

      <h2>
        {{ centro.nombre }}
      </h2>

      <p>
        <strong>
          {{ textos.tipo }}
        </strong>

        {{ centro.tipo }}
      </p>

      <p>
        <strong>
          {{ textos.ciudad }}
        </strong>

        {{ centro.ciudad }}
      </p>

      <p>
        <strong>
          {{ textos.direccion }}
        </strong>

        {{ centro.direccion }}
      </p>

    </div>

  }

}