<div class="login-container">

  <div class="info-panel">

    <div class="logo">
      {{ textos.logo }}
    </div>

    <h1>
      {{ textos.tituloPrincipal }}
    </h1>

    <p>
      {{ textos.descripcionPrincipal }}
    </p>

  </div>


  <div class="form-panel">

    <h2>
      {{ textos.tituloFormulario }}
    </h2>

    <p>
      {{ textos.descripcionFormulario }}
    </p>


    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
    >

      <div class="form-group">

        <label>
          {{ textos.correoLabel }}
        </label>

        <input
          type="email"
          formControlName="email"
          [placeholder]="textos.correoPlaceholder"
        >

        <small
          class="error"
          *ngIf="
            loginForm.get('email')?.invalid &&
            loginForm.get('email')?.touched
          "
        >
          {{ textos.correoError }}
        </small>

      </div>


      <div class="form-group">

        <label>
          {{ textos.passwordLabel }}
        </label>

        <input
          type="password"
          formControlName="password"
          [placeholder]="textos.passwordPlaceholder"
        >

        <small
          class="error"
          *ngIf="
            loginForm.get('password')?.invalid &&
            loginForm.get('password')?.touched
          "
        >
          {{ textos.passwordError }}
        </small>

      </div>


      <button
        type="submit"
        class="btn-primary"
      >
        {{ textos.botonIngresar }}
      </button>


      <small
        class="error login-error"
        *ngIf="mensajeError"
      >
        {{ mensajeError }}
      </small>

    </form>


    <div class="links">

      <a href="/registro">
        {{ textos.crearCuenta }}
      </a>

      <a href="/">
        {{ textos.cancelar }}
      </a>

    </div>

  </div>

</div>